.sub-header {
    font-size: 2rem;
    margin-left: $gutter-horizontal;
}

.button {
    text-transform: uppercase;
    text-decoration: none;
    margin-left: $gutter-horizontal;
    background-color: $color-primary;
    border-radius: 2rem;
    color: $color-white;
    outline: none;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
    transition: all .5s;

    &:hover {
        transform: translateY(-.3rem);
        box-shadow: 0 .5rem 1rem rgba($color-black,.2);

        &::after {
        transform: scaleX(1.4) scaleY(1.6);
        opacity: 0;
        }
    }  
}