.button {
    max-width: $grid-width;
    margin-top: $gutter-vertical;
    margin-left: $gutter-horizontal;
    @include clearfix;

    &-box {
    text-transform: uppercase;
    text-decoration: none;
    background-color: $color-primary;
    border-radius: 2rem;
    color: $color-white;
    outline: none;
    width: 16rem;
    height: 4rem;
    text-align: center;
    text-decoration: none;

    margin: 4px 2px;
    cursor: pointer;
    transition: all .5s;

        &:hover {
            transform: translateY(-.3rem);
            box-shadow: 0 .5rem 1rem rgba($color-black,.2);
            color: $color-tertiary-dark
        }  
    }
}
