.card-board {
    max-width: $grid-width;
    margin: 0 auto;
    @include clearfix;
}

.card {
  width: calc((100% - 7 * #{$gutter-horizontal}) / 3);
  float: left;
  border-radius: 3rem;
  margin-left: $gutter-horizontal;
  margin-right: $gutter-horizontal;
  margin-top: $gutter-vertical;
  margin-bottom: $gutter-vertical;
  text-align: center;
  height: 100%;
  background-image: linear-gradient(to right bottom, $color-black, $color-grey-dark);
  position: relative;
  transition: all .5s;
  color: $color-white;

  @include respond(tab-port) {
    width: calc((100% - 4 * #{$gutter-horizontal}) / 2);
  }

  @include respond(phone) {
    width: calc((100% - 3 * #{$gutter-horizontal}));
  }
  

  &__section {
      height:12%;
      font-weight: 400;
    
      &--name {
        text-transform: uppercase;
        font-size: 2rem;
      }

      &--extra {
        font-weight: 300;
        display: inline-block;
      }
  }

  &-selected {
    background-image: linear-gradient(to right bottom, $color-secondary-dark, $color-secondary-light);
    color: $color-black;
  }

  &:hover {
    transform: translateY(-.3rem);
    cursor: pointer;
    box-shadow: 0 1.5rem 4rem rgba($color-black, .5);
  }
}

