header {
  position: relative;
  display: block;
  background: $color-primary;
  height: 8rem;
  font-size: 4rem;
  font-weight: 700;
  padding-left: 2rem;
  margin-bottom: 4rem;

  a {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    text-decoration: none;
    color: $color-white;
    transition: all 1s;
    

    &:hover {
      color: $color-black;
    }
  }
}
