*
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  line-height: 1.7;
  color: #000;
  background-color: #eee;
  padding: 3rem;
  box-sizing: border-box; }

.button {
  max-width: 114rem;
  margin-top: 1.5rem;
  margin-left: 1.5rem; }
  .button::after {
    content: "";
    display: table;
    clear: both; }
  .button-box {
    text-transform: uppercase;
    text-decoration: none;
    background-color: #55c57a;
    border-radius: 2rem;
    color: #fff;
    outline: none;
    width: 16rem;
    height: 4rem;
    text-align: center;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
    transition: all .5s; }
    .button-box:hover {
      transform: translateY(-0.3rem);
      box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
      color: #5643fa; }

.card-board {
  max-width: 114rem;
  margin: 0 auto; }
  .card-board::after {
    content: "";
    display: table;
    clear: both; }

.card {
  width: calc((100% - 7 * 1.5rem) / 3);
  float: left;
  border-radius: 3rem;
  margin-left: 1.5rem;
  margin-right: 1.5rem;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  text-align: center;
  height: 100%;
  background-image: linear-gradient(to right bottom, #000, #777);
  position: relative;
  transition: all .5s;
  color: #fff; }
  @media (max-width: 50em) {
    .card {
      width: calc((100% - 4 * 1.5rem) / 2); } }
  @media (max-width: 32em) {
    .card {
      width: calc((100% - 3 * 1.5rem)); } }
  .card__section {
    height: 12%;
    font-weight: 400; }
    .card__section--name {
      text-transform: uppercase;
      font-size: 2rem; }
    .card__section--extra {
      font-weight: 300;
      display: inline-block; }
  .card-selected {
    background-image: linear-gradient(to right bottom, #ff7730, #ffb900);
    color: #000; }
  .card:hover {
    transform: translateY(-0.3rem);
    cursor: pointer;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.5); }

header {
  position: relative;
  display: block;
  background: #55c57a;
  height: 8rem;
  font-size: 4rem;
  font-weight: 700;
  padding-left: 2rem;
  margin-bottom: 4rem; }
  header a {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    text-decoration: none;
    color: #fff;
    transition: all 1s; }
    header a:hover {
      color: #5643fa; }

.sub-header {
  font-size: 2rem;
  margin-left: 1.5rem; }

.user {
  margin-left: 1.5rem; }
  .user__details {
    color: #5643fa; }
    .user__details--capital {
      text-transform: uppercase; }

.input {
  height: 2.5rem;
  margin: .3rem;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: .3rem;
  box-sizing: border-box;
  margin-left: 1.5rem;
  margin-bottom: 1.5rem;
  background-color: #a9a9a9;
  color: #000;
  padding: 1rem; }
  .input__text {
    width: 15rem; }
  .input__date, .input__select {
    width: 9.5rem; }
  .input::placeholder {
    color: #fff; }
  .input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0; }

.category {
  margin-left: 1.5rem;
  font-size: 1.6rem; }

.error {
  margin-left: 1.5rem;
  color: red;
  font-size: 1.5rem; }
