// COLORS
$color-primary: #55c57a;
$color-primary-light: #7ed56f;
$color-primary-dark: #28b485;

$color-secondary-light: #ffb900;
$color-secondary-dark: #ff7730;

$color-tertiary-light: #2998ff;
$color-tertiary-dark: #5643fa;


$color-grey-light: #eee;
$color-grey-medium: #A9A9A9;
$color-grey-dark: #777;
$color-white: #fff;
$color-black: #000;

// FONT
$default-font-size: 1.6rem;


// GRID
$grid-width: 114rem;
$gutter-horizontal: 1.5rem;
$gutter-vertical: 1.5rem;
